header{
    background-color: white;
    width: 100%;
    top: 0;
    position: fixed;
    display: inline-block;
}

body{
    background-image: url(../img/pattern.jpg);
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
}

section{
    background-color: white;
    margin-top: 75px;
    margin: 90px;
    padding: 10px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 30px;
}

p{
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 4px solid grey;
}

p.normal {
    font-weight: normal;
}
  
p.light {
    font-weight: lighter;
}
  
p.thick {
    font-weight: bold;
}
  
p.thicker {
    font-weight: 900;
}

a:link{
    text-decoration: none
}

a{
    margin-left: 150px
}

nav {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
  }
  
nav a {
    float: left;
    display: block;
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style-type: none;
}
footer{
    background-color: black;
    margin-bottom: 30px;
    padding: 30px;
    width: 100%;
    text-align: center;
}

footer h5{
    color: white;
}

h1{
    text-align: center;
}

h1,h2,h3,h4,h5,h6,
div,label,p{
    font-family: 'Slabo 27px', serif;
}